/* Resets default styles and set font family */
body {
    font-family: 'Arial', sans-serif; /* Sets the default font family */
    line-height: 1.6; /* Sets the line height for better readability */
    margin: 0; /* Removes the default margin */
    padding: 0; /* Removes the default padding */
}

/* Styles the header section */
header {
    background-color: #252525; /* Sets the background color */
    color: #fff; /* Sets text color */
    padding: 20px; /* Adds padding for spacing */
    text-align: center; /*Centers text*/
}

/* Styling headings */
h1, h2 {
    margin-top: 0; /* Removes default margin */
}

/* Styling navigation menu */
nav ul {
    list-style: none; /* Removes default bullet points */
    padding: 0; /* Removes default padding */
}

nav ul li {
    display: inline; /* Displays list items inline */
    margin-right: 20px; /* Adds a right margin for spacing between items */
}

nav a {
    color: #fff; /* Sets the text color */
    text-decoration: none; /* Removes underline from links */
}

/* Styling sections */
section {
    padding: 20px; /* Adds a padding for spacing */
}

/* Styling the footer section */
footer {
    background-color: #0e0e0e; /* Sets a  background color */
    color: #fff; /* Sets a text color */
    text-align: center; /* Aligns text to the center */
    padding: 10px; /* Adds a padding for spacing */
}
