div {
    display: inline-block;
    margin: 25px;
    line-height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;
  }
  
body {
    margin: 100px auto;
    width: max-content;
  }

.img1 {
    border: 5px solid #8A2AE3; 
    box-shadow: 10px 10px 20px -1px red; 
}

.img2 {
    border: 5px solid #00FF01;
    box-shadow: inset 10px 10px 20px -1px black;
}

.img3 {
    border: 14px solid #FE0000;
    border-radius: 10%;
    position: relative;
}

.img3::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border: 9px solid #FF8C00;
    border-radius: 10%;
    z-index: -3.5;
}

.img3::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 15px solid #000fe0;
    border-radius: 10%;
    z-index: -3; 
    outline: 30px solid #008001;
}

.img4{
    border: 5px solid #B22222;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}