@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html, body {
    height: 100%; 
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column; 
}

.main-content {
    flex: 1; 
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #555;
}

.title {
    color: white;
    padding: 20px;
    background-color: black;
    text-align: center;
}

.title h1 {
    font-size: 5em;
}

.title h1, p{
    margin: 0;
    padding: 0;
}

.main-content {
    overflow: hidden; 
}

.main-content h2{
    margin: 10px;
}

.plot {
    float: left; 
    width: calc(100% - 120px); 
    padding-right: 1500px; 
    padding-bottom: 100px;
}

.plot h2 {
    margin: 10px; 
    border-bottom: 1px solid #333; 
    width: 1700px; 
}

.plot p {
    margin: 10px;
    justify-content: stretch;
}

